body {
  /* background-color:#a3a5a5; */
  background-image: url("metalheart_31.jpg");
  backdrop-filter: blur(10px);

  background-size: stretch;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-grid-container {
  display: grid;

  width: 60vw;
  margin: auto;

  gap: 0.5em;
  padding: 0.5em;
}

/* .navbar {
  border-style: double;
  border-color: #616161;
  border-radius: 12px;

  background: linear-gradient(
    to bottom,
    rgba(183, 222, 237, 1) 0%,
    rgba(113, 206, 239, 1) 50%,
    rgba(33, 180, 226, 1) 51%,
    rgba(183, 222, 237, 1) 100%
  );
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 0 2px 2px #ffffff inset;

  display: grid;
  grid-template-columns: 6em 6em 6em 6em;
  gap: 10px;
  padding: 5px;
} */

.navbar
{
  display: block;
}

.navbar a {
  text-decoration: none;
}

.navbar ul {

}

.navbar button {
  border-style: double;
  border-color: #616161;

  background-position: bottom;
  box-shadow: 0 0 2px 2px #ffffff inset;
}

.navbar button:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.body-grid-container {
  width: 60vw;
  min-width: 310px;
  min-height: 280px;
  margin: auto;
  display: grid;
  
  
  grid-template-columns: 1.5fr 1fr 3fr;
  

  gap: 0em;
  padding: 2vh;
}

.body-item {
  min-height: 250px;


  background: linear-gradient(to bottom, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%);
  background-image: url("https://i.pinimg.com/736x/2a/9b/3b/2a9b3be48e665563d88cd00e19734d88.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 8px 32px 0px #004178;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50%;
  aspect-ratio: 1/ 1;

  border-width: 5px;
  border-style: outset;
  margin-left: 5px;

  z-index: 2;
}

.child-1
{
  grid-column: 1/ span 2;
  grid-row: 1 / 2;
}


.navbar{
  display:grid;
  justify-content: left;
  grid-column: 2/ span 3;
  grid-row: 1;

  grid-template-rows: 1fr 1fr 1fr 1fr ;
  grid-template-columns: 1fr;

  align-items: center;

  padding: 20px;
  z-index: 1;
   --p: 100px;
  clip-path: polygon( 0 0,
  90% 0,
  calc(90% - var(--p)) 100%,
  0 100%);

}


.nav-element{
  height: 100%;
  background: rgba(192, 192, 192, 0.4);
  border: 1px solid rgba(224, 247, 250, 0.18);
  color: #e0f7fa;
  display:flex;
  align-items: center;
  justify-content: center;
}


.navbar a:hover
{
background: rgba(192, 192, 192, 0.829);
}


.nav-element :hover{
background: rgba(219, 219, 219, 0.4);
}



.nav-element:nth-child(1) p{
  text-align: right;
  
  padding-right: 5vw;
}




.portrait
{
  float:left;
  
}

.portrait img{
  width: 75%;
  height: auto;
  border-radius: 5px;
}
